<div id="projects">
  <h1 :style="{'font-size':'3vw'}">Projects</h1>
  <h2 :style="{'font-size':'2.5vw'}">Filter</h2>
  <multiselect
    :value="selectedTopics"
    @input="updateTopics"
    :options="topics"
    :multiple="true"
    :showLabels="false"
  ></multiselect>

  <div class="grid-container">
    <div
      v-for="project in filterProjects(projects, selectedTopics)"
      v-bind:key="project.id"
      v-on:click="popupProject(project)"
    >
      <div class="unit" data-aos="fade-up">
        <div class="dot" />

        <h1 v-bind:class="{ 'margin-bottom': '50vw' }">
          {{ project.title }}
        </h1>
        <div class="label" />
        <br />
        <div class="imageContainer">
          <img :src="project.img" alt />
        </div>
        <br />
      </div>
    </div>
  </div>

  <Popup
    v-if="PopupData"
    v-bind:title="PopupData.title"
    v-bind:text="PopupData.text"
    v-bind:img="PopupData.img"
    v-bind:onRemove="PopupData.onRemove"
    v-bind:topics="PopupData.topics"
    v-bind:code="PopupData.code"
  />
</div>
