<div id="projects" class="projectContainer">
  <div class="tabBackground">
    <h1 class="tab">Projects</h1>
  </div>
  <!-- <h1 :style="{'font-size':'3vw'}">Projects</h1> -->
  <div class="break"></div>
  <multiselect
    :value="selectedTopics"
    @input="updateTopics"
    :options="topics"
    :multiple="true"
    :showLabels="false"
    placeholder="Filter projects"
    open-direction="bottom"
    class="multiselect"
  ></multiselect>

  <div class="grid-container">
    <div
      v-for="project in filterProjects(projects, selectedTopics)"
      v-bind:key="project.id"
      v-on:click="popupProject(project)"
    >
      <div class="unit">
        <img :src="project.img" alt />
        <!-- <br /> -->
        <hr class="label" />
        <h1 class="unitText">
          {{ project.title }}
        </h1>
      </div>
    </div>
  </div>
  <Popup
    v-if="PopupData"
    v-bind:title="PopupData.title"
    v-bind:text="PopupData.text"
    v-bind:img="PopupData.gif ? PopupData.gif : PopupData.img"
    v-bind:onRemove="PopupData.onRemove"
    v-bind:topics="PopupData.topics"
    v-bind:code="PopupData.code"
  />
</div>
