@import "@/app.scss";

img {
  width: 100%;
}
h2 {
  font-size: clamp(15px, 4.25vw, 75px);
  margin: 0.2em;
}
.collapsible{
  font-size: clamp(15px, 2.25vw, 30px);
}
h3,h4 {
  font-size: clamp(10px, 1.25vw, 30px);
}

h4,
h2,
h3 {
  margin-top: 0.25vh;
  margin-bottom: 0vh;
}
code {
  text-align: left;
  background-color: $white;
}
br {
  content: "";
  display: block;
  margin-bottom: 1vw;
}
@media screen and (max-width: 700px) {
  code {
    font-size: 1.75vw;
  }
}
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s;
}

.popup {
  overflow: auto;
  background-color: $tertiary;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 3;
  width: 96%;
  max-height: 90vh;
  // overflow-wrap: break-word;
  box-sizing: border-box;
  border: 3px solid black;
  color: #333;
  padding: 1%;
  display: block;
}
.popup > div {
  flex: 1;
}
.imageConstrained {
  width:auto;
  max-width:60%;
  max-height: 400px;
}

.codeDescriptions {
  margin: auto;
  width: 80vw;
  word-wrap: break-word;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c7;
  z-index: 2;
  cursor: pointer;
}

.close {
  position: fixed;
  left:92.5%;
  top:2.5%;
  cursor: pointer;
  color: $black;
  z-index:4;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-decoration-line: underline;  
  color: $strongBlack;
}
.rightSection {
  margin-top: 5vw;
  padding-left: 10px;
}
.collapsible {
  background-color: $secondary;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 46vw;
  border: none;
  text-align: left;
  outline: none;
}
.collapsibleData {
  display: none;
}
.constrainedText {
  width: 60vw;
  margin: auto
}
/*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  padding-right: 100px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $white;
  -webkit-box-shadow: 0 0 1px $white;
}*/
