<div>
  <!-- <h2 class="close" @click="onRemove">&times;</h2> -->
  <div class="overlay" @click="onRemove" />
  <transition name="slide">
    <div class="popup" v-bind:key="title">
      <div>
        <h2 class="title">{{ title }}</h2>
        <a target="_blank" :href="img">
          <img class="imageConstrained" :src="img" />
        </a>
        <br />
        <br />
        <h3 class="constrainedText" v-for="line in text" v-bind:key="line" v-html="urlify(line)" />
      </div>
        <div v-for="(codePart, index) in code" :key="'codePart' + index">
          <button
            type="button"
            class="collapsible"
            @click="()=>changeVisibility('collapsible ' + index)"
          >
            <div>
              {{codePart.title ? codePart.title : 'Code Section' }}
            </div>
          </button>
          <div :id="'collapsible ' + index " class="collapsibleData">
            <br />
            <div class="codeDescriptions">

              <pre
                v-highlightjs
              ><code v-bind:class="codePart.language">{{ codePart.codeSnippet }}</code></pre>
            </div>
            <br />
            <div class="codeDescriptions">
              <h4>
                {{ codePart.codeDescription }}
              </h4>
            </div>
            <br />
          </div>
        </div>
        <button
          type="button"
          class="collapsible"
          @click="()=>changeVisibility('collapsible topics')"
        >
          <div>
            Topics
          </div>
        </button>
        <div :id="'collapsible topics'" class="collapsibleData">
          <br />
          <h4 v-for="topic in topics" v-bind:key="topic" v-html="topic" />
        </div>
    </div>
  </transition>
</div>
