img {
  width: 100%;
}
h1 {
  font-size: 4.75vw;
  margin: 0.2em;
}
h2 {
  font-size: 4.25vw;
  margin: 0.2em;
}
h3 {
  font-size: 2.25vw;
}
h4 {
  font-size: calc(7px + 1.25vw);
}
h4,
h2,
h3 {
  margin-top: 0.25vh;
  margin-bottom: 0vh;
}
code {
  text-align: left;
  background-color: #fbf2ebdd;
}
@media screen and (max-width: 700px) {
  code {
    font-size: 1.75vw;
  }
}
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s;
}

/*.sidebar-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}*/

.popup {
  overflow-y: auto;
  background-color: #cab27b;
  position: fixed;
  left: 2%;
  top: 2%;
  height: 96%;
  z-index: 999;
  width: 96%;
  overflow-wrap: break-word;
  box-sizing: border-box;
  border: 3px solid black;
}

.imageConstrained {
  width: 90%;
  max-width: 400px;
  max-height: 350px;
}

.codeDescriptions {
  margin: auto;
  width: 90vw;
  border: 1px solid black;
  padding: 1%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000088;
  cursor: pointer;
}

.close {
  position: absolute;
  margin-left: 95%;
  cursor: pointer;
}

.title {
  margin-left: auto;
  margin-right: auto;
}
