<div>
  <div id="row" class="grid-container">
    <div>
      <!--<img class="gridImg" src="../assets/photo.jpeg" alt />-->
      <h1>
        <a href="https://github.com/Yoshterra1" class="blankLink">Github</a>
        <img src="../../assets/github.svg" alt />
      </h1>
      <h1>
        <a
          href="https://www.linkedin.com/in/justin-weintraub-4675921a9/"
          class="blankLink"
          >Linkedin</a
        >
        <img src="../../assets/linkedin.png" alt />
      </h1>
      <!--
      <h1>
        Resume
        <img src="../assets/resume.png" alt />
      </h1>
      -->
      <h1>
        <a
          href="mailto:justinweintraub1@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="blankLink"
          >Email</a
        >
        <img src="../../assets/email.png" alt />
      </h1>
    </div>
    <h3 class="gridText">
      Hello! My name is Justin Weintraub, and this is my portfolio!
      <br />What you can find here is a collection of some of my projects as
      well as information about me. <br /> 
      I'm a Software Engineer working full stack in the fields of Web Development and AI. 
      I'm also currently a student at Worcester Polytechnic Institute.<br />
      My primary languages are JavaScript, Python and Java and my primary stack is MEVN. 
    </h3>
  </div>
</div>
