h1 {
  font-size: 2.25vw;
  color: #000000;
  text-align: left;
}
h3 {
  margin: 0 0;
  font-size: 150%;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
br {
  content: "";
  display: block;
  margin-bottom: 3vh;
}
img {
  width: 10%;
  height: auto;
  margin: auto;
  vertical-align: -10%;
}
.grid-container {
  width: 99%;
  height: auto;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: 20% 78%;
  border-top: dotted #bdb4a6;
  border-bottom: dotted #bdb4a6;
  align-items: center;
}
.gridImg {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.gridText {
  width: 80%;
  max-height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  font-size: 1.8vw;
}

.blankLink {
  color: inherit; /* Inherit text color of parent element. */
  text-decoration: none;
}
