<div>
  <div id="row" class="grid-container">
    <div>
      <!--<img class="gridImg" src="../assets/photo.jpeg" alt />-->
      <h1>
        <a href="https://github.com/Yoshterra1" class="blankLink">Github</a>
        <img src="../../assets/github.svg" alt />
      </h1>
      <h1>
        <a
          href="https://www.linkedin.com/in/justin-weintraub-4675921a9/"
          class="blankLink"
          >Linkedin</a
        >
        <img src="../../assets/linkedin.png" alt />
      </h1>
      <!--
      <h1>
        Resume
        <img src="../assets/resume.png" alt />
      </h1>
      -->
      <h1>
        <a
          href="mailto:justinweintraub1@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="blankLink"
          >Email</a
        >
        <img src="../../assets/email.png" alt />
      </h1>
    </div>
    <h3 class="gridText">
      Hello! My name is Justin Weintraub, and this is my portfolio!
      <br />What you can find here is a collection of some of my projects as
      well as information about me. <br />I'm currently a 18 year old soon to be
      freshmen at Worcester Polytechnic Institute. I've developed a passion for
      object oriented programming in the past 8 years, learning about all sorts
      of concepts. <br />In particular, I've become proficient in the
      programming languages Javascript, Python, and Java/Processing. I've also
      become proficient in the markup languages HTML and CSS.
    </h3>
  </div>
</div>
