@import "@/app.scss";

a {
  text-decoration: none;
}
h1 {
  font-size: 2.25vw;
  color: $strongWhite;
}
img {
  width: 40%;
  height: auto;
  margin: auto;
  vertical-align: -10%;
  /*fill: $white;*/
}
.nav {
  position: fixed;
  border-radius: 25px;
  background-color: $secondary;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 5vw;
  margin-right: 5vw;
  z-index: 1;
  width: 90vw;
  top: 0;
  height: 9vw;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: -10px;
}
.icons {
  display: flex;
  width: 20vw;
}
.center {
  font-size: 2.75vw;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  border-left: solid $white;
  border-right: solid $white;
}

