<nav class="nav">
    <h1 class="name">{{name}}</h1>
    <div class="sections">
    <a class="navbar-link" href="#skills">
      <h2>Skills</h2>
    </a>
    <a class="navbar-link" href="#projects">
      <h2>Projects</h2>
    </a>
    </div>
    <div class="icons">
      <a href="https://github.com/JustinWeintraub" target="_blank">
        <img src="../../assets/icons/github.svg" alt="Github" />
      </a>
      <a href="https://www.linkedin.com/in/justinweintraub" target="_blank">
        <img src="../../assets/icons/linkedin.svg" alt="Linkedin" />
      </a>

      <!--
      <h1>
        Resume
        <img src="../assets/resume.png" alt />
      </h1>
      -->
      <a href="mailto:justinweintraub1@gmail.com" target="_blank">
        <img src="../../assets/icons/email.svg" alt="email" />
      </a>
  </div>
</nav>
