<div class="navContainer">
  <nav class="nav">
    <div class="row">
      <a href="#skills">
        <h1>Skills</h1>
      </a>
      <h1 class="center">Justin Weintraub's CS Portfolio</h1>
      <a href="#projects">
        <h1>Projects</h1>
      </a>
    </div>
    <div class="row">
      <div class="icons">
        <a href="https://github.com/JustinWeintraub">
          <img src="../../assets/icons/github.svg" alt="Github" />
        </a>
        <a href="https://www.linkedin.com/in/justin-weintraub-4675921a9/">
          <img src="../../assets/icons/linkedin.svg" alt="Linkedin" />
        </a>

        <!--
        <h1>
          Resume
          <img src="../assets/resume.png" alt />
        </h1>
        -->
        <a href="mailto:justinweintraub1@gmail.com">
          <img src="../../assets/icons/email.svg" alt="email" />
        </a>
      </div>
    </div>
  </nav>
</div>
