$black: #333;
$strongBlack: black;
$white: #dddd;
$strongWhite: #ffff;//#eeee;
$primary: #fffffff9;//#e7c9a9; //#0b3c5d;
$secondary: #111;//#6F4E37;//#1d2731;
$tertiary: #2e312e;//#E8D4A4;//#328cc1;
$quaternary:	#EBC113;//#6F4E37;//#d9b310;
$quinary: #F0F0F0;

html {
  scroll-behavior: smooth;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $black;
  overflow-x: hidden;
  position: relative;
  max-width: 2500px;
  margin-left: auto;
  margin-right: auto;
}
#skills, #projects {
  scroll-margin-top: 12vw;
}
body {
  background-color: $primary;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
.btn {
  width: 30%;
  font-size: 125%;
  color: $black;
  border: 0;
  border-radius: 0;
  height: auto;
  text-align: center;
  text-align-last: center;
  margin-bottom: 1vh;
}
.tab {
  width:150px;
  margin-left: 2vw;
  margin-bottom: 0;
  border-radius: 15px 15px 0px 0px;
  padding: 1vw 1vw;
  font-size: 30px;
}

@media only screen and (max-width: 750px) {
  .tab{
    font-size: 20px;
    width: 100px;
  }
}
